<form action="http://localhost:3000/leads" method="POST">
    <div class="mt-5">
        <label for="inputName" class="form-label">Your name</label>
        <input type="name" class="form-control border border-1 rounded" name="name" id="inputName" aria-describedby="nameHelp" placeholder="First and second name">
    </div>
    <div class="mt-4">
        <label for="inputEmail" class="form-label">Your Email</label>
        <input type="email" class="form-control border border-1 rounded" name="email" id="inputEmail" aria-describedby="emailHelp" placeholder="example@site.com">
    </div>
    <div class="my-4">
        <label for="inputPhone" class="form-label">Your Phone</label>
        <input type="text" class="form-control border border-1 rounded" name="phone" id="inputPhone" aria-describedby="phoneHelp" placeholder="(+31) 6 2222-2222">
    </div>
    <div class="d-grid gap-2 mb-4">
        <input type="submit" class="btn btn-warning"></input>
    </div>
    <p><small class="text-muted"><strong>We will not do nothing with your data, only contact you.</strong></small></p>
</form>