<!-- NAVBAR -->

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-warning">
    <div class="container">
        <img src="assets/img/logohappyblack.png" alt="" width="100">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav p-2 ms-auto mb-lg-0 fs-5">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"><strong>Home</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#service"><strong>Services</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#benefits"><strong>Benefits</strong></a>
                </li>
                <li class="nav-item">
                    <a href="#freeHour" class="btn btn-outline-dark ms-0 ms-lg-2 pt-2 mt-1"><strong>Free Hour Service</strong></a>
                </li>
            </ul>
        </div>
    </div>
</nav>