<%- include('../partials/head'); %>
<%- include('../partials/header'); %>

<main>
  
  <!-- SECTION 1 = CTA + FORM -->

  <div class="container-fluid bg-light bg-gradient" id="#home">
    <div class="container">
        <div class="row pt-5 pt-lg-5 pb-3 pb-lg-3">
            <div class="col-12 col-lg-6 pt-lg-5">
                <div class="pe-lg-2 pt-4 py-lg-0 text-dark text-start">
                    <h1 class="display-3">Professional cleaning services in Amsterdam Area</h1>
                    <h1 class="display-6 pt-lg-2">Let us help you!</h1>
                </div>
                <div class="pe-3 pt-lg-1 py-lg-4 pe-lg-6">
                    <p class="lead">Let your information using the form and our team will get in touch.
                    You can also know more about us clicking on this two buttons bellow.</p>
                </div>
                <button class="btn btn btn-outline-dark">Know More</button>
                <button class="btn btn btn-outline-warning">Our Servies</button>
            </div>
            <div class="col-12 col-lg-6 ps-lg-6 pt py-5 lg-3">
                <div class="card shadow shadow-md border-0 p-4">
                    <div class="card-body">
                        <h2><strong>Talk with our team</strong></h2>
                        <p class="lead"><strong>Add your info bellow</strong></p>
                        <%- include('../partials/form'); %>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- SECTION 2 = SERVICES -->

<div class="container-fluid" id="service">
    <div class="container pt-5 pt-lg-0">

        <div class="pb-4 pb-lg-4 py-lg-5 text-start text-center">
            <h1 class="display-4 mb-3 mb-lg-2">Services</h1>
            <p class="lead px-lg-11">In order to let your house perfect we have three main services.
            Choose what matches more with your needs. Bellow you can understand better the diferences
            and also the price per hour. Transparency is key to us.</p>
        </div>

        <div class="container ">
            <div class="row text-center pt-1 px-lg-5 pb-4 pb-lg-9">

                <div class="col-12 col-lg-4 mb-4 mb-md-6 mb-lg-0 px-0 px-lg-2">
                    <div class="card shadow border-0 border-top">
                        <div class="card-header shadow border-0">
                            <p class="lead fs-3 pt-2">Frequent Cleaning</p>
                        </div>
                        <div class="card-body">
                            <p class="display fs-3"><strong class="fs-1">$22</strong><small class="text-muted">/pHour</small></p>
                            <p>Cleaning products not included</p>
                            <p>+1€ per hour for Cleaning Products</p>
                            <p>Laundry services optional</p>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-outline-warning btn-gradient py-3 fs-5">Contact Us</button>
                            </div>                            
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-4 mb-4 mb-md-6 mb-lg-0 px-0 px-lg-2">
                    <div class="card shadow border-light text-dark">
                        <div class="card-header shadow-sm border-light bg-warning text-light">
                            <p class="lead fs-3 pt-2">Deep Cleaning</p>
                        </div>
                        <div class="card-body">
                            <p class="display fs-3"><strong class="fs-1">$26</strong><small class="text-muted">/pHour</small></p>
                            <p>Cleaning products included</p>
                            <p>Vaccum cleaner optional</p>
                            <p>Two workers together</p>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-warning text-light py-3 fs-5">Contact Us</button>
                            </div>                            
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-4 mb-3 mb-md-6 mb-lg-0 px-0 px-lg-2">
                    <div class="card shadow border-0 border-top">
                        <div class="card-header shadow border-0">
                            <p class="lead fs-3 pt-2">Pos Construction</p>
                        </div>
                        <div class="card-body">
                            <p class="display fs-3"><strong class="fs-1">$29</strong><small class="text-muted">/pHour</small></p>
                            <p>Cleaning products included</p>
                            <p>Vaccum cleaner included</p>
                            <p>Two workers or more together</p>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-outline-warning py-3 fs-5">Contact Us</button>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--TABLE TO COMPARE SERVICES-->
    </div>
</div>

<!-- SECTION 3 = Benefits -->
<div class="container-fluid bg-light" id="benefits">
    <div class="container">

        <div class="row py-5 pt-lg-8 pb-4 pb-md-6">

            <div class="col-12 col-lg-6 pe-lg-11">
                <h1 class="display-4 mb-3 mb-lg-2">Benefits</h1>
                <p class="lead">Our main objective as a cleaning company is to provide
                    the best experience to our customers. To achieve this goal,
                    we focus on four concepts: service quality, work ethic,
                    transparency and flexibility.
                </p>
            </div>

            <div class="col-12 col-lg-6 pt-4 pt-lg-3">
                <div class="row ">
                    <div class="col-6">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-1-square-fill" viewBox="0 0 16 16" style="color: #ffc107;">
                        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm7.283 4.002V12H7.971V5.338h-.065L6.072 6.656V5.385l1.899-1.383h1.312Z"/>
                        </svg>
                        <h2 class="display-5 fs-3 pt-4 pt-lg-3"><strong>Quality</strong></h2>
                        <p class="fs-5 text-muted">For us quality means thinking like the owner in order to find how to do the best service on time.</p>
                    </div>
                    <div class="col-6">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-2-square-fill" viewBox="0 0 16 16" style="color: #ffc107;">
                        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm4.646 6.24v.07H5.375v-.064c0-1.213.879-2.402 2.637-2.402 1.582 0 2.613.949 2.613 2.215 0 1.002-.6 1.667-1.287 2.43l-.096.107-1.974 2.22v.077h3.498V12H5.422v-.832l2.97-3.293c.434-.475.903-1.008.903-1.705 0-.744-.557-1.236-1.313-1.236-.843 0-1.336.615-1.336 1.306Z"/>
                        </svg>
                        <h2 class="display-5 fs-3 pt-4 pt-lg-3"><strong>Ethic</strong></h2>
                        <p class="fs-5 text-muted">Our clients can trust on us and our workers. Any problem with the service the client can call and we will solve the problem.</p>
                    </div>
                </div>
                <div class="row pt-4">
                    <div class="col-6">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-3-square-fill" viewBox="0 0 16 16" style="color: #ffc107;">
                            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm5.918 8.414h-.879V7.342h.838c.78 0 1.348-.522 1.342-1.237 0-.709-.563-1.195-1.348-1.195-.79 0-1.312.498-1.348 1.055H5.275c.036-1.137.95-2.115 2.625-2.121 1.594-.012 2.608.885 2.637 2.062.023 1.137-.885 1.776-1.482 1.875v.07c.703.07 1.71.64 1.734 1.917.024 1.459-1.277 2.396-2.93 2.396-1.705 0-2.707-.967-2.754-2.144H6.33c.059.597.68 1.06 1.541 1.066.973.006 1.6-.563 1.588-1.354-.006-.779-.621-1.318-1.541-1.318Z"/>
                          </svg>
                          <h2 class="display-5 fs-3 pt-4 pt-lg-3"><strong>Transparency</strong></h2>
                          <p class="fs-5 text-muted">From the amount of time needed to a service price, we explain in details because transparency is key for us.</p>
                    </div>
                    <div class="col-6">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-4-square-fill" viewBox="0 0 16 16" style="color: #ffc107;">
                        <path d="M6.225 9.281v.053H8.85V5.063h-.065c-.867 1.33-1.787 2.806-2.56 4.218Z"/>
                        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm5.519 5.057c.22-.352.439-.703.657-1.055h1.933v5.332h1.008v1.107H10.11V12H8.85v-1.559H4.978V9.322c.77-1.427 1.656-2.847 2.542-4.265Z"/>
                        </svg>
                        <h2 class="display-5 fs-3 pt-4 pt-lg-3"><strong>Flexibility</strong></h2>
                        <p class="fs-5 text-muted">If our client needs a cleaning we are flexible and we will always try to schedule the best hour and date.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- SECTION 4 = Trusted by 

<div class="container-fluid">
    <div class="container pt-5 pt-lg-0">

        <div class="pb-4 pb-lg-4 py-lg-5 text-start text-md-center">
            <h1 class="display-4 mb-3 mb-lg-2">Trusted by</h1>
            <p class="lead px-lg-11">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Et consectetur similique magnam, alias saepe cum vitae
            laborum officia sed harum corporis neque quibusdam,
            amet reprehenderit in quaerat rem, modi ea.</p>
        </div>

        
        TABLE TO COMPARE SERVICES
    </div>
</div>-->

<!-- SECTION 5 - RETURN TO THE FORM -->
<div class="container-fluid bg-warning bg-gradient">
    <div class="container-fluid">
        <div class="container pt-5 pt-lg-0">

            <div class="pb-6 py-lg-5 text-start text-center">
                <h1 class="display-4"><strong>Free First Hour</strong></h1>
                <p class="lead py-2 px-lg-11">Are you a new client thinking about doing a service
                    with us. Let us encorage you to see our quality. We are giving you a free hour
                    ticket. To have excess of this gift, you just have to talk with us via email or phone
                    and shecule your first cleaning.</p>
                <button class="btn btn btn-outline-dark">Talk with our team</button>
            </div>
        </div>
    </div>
</div>

</main>


  <%- include('../partials/footer'); %>